<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Detectr</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        detectr v0.0.1
      </h1>
      <p class="subtitle">
        Automatically identify whether an  is fake or not using transformers!
      </p>
        <a class="button is-success is-small" href="http://localhost:8888/" target="_blank">Check if the news is fake or not</a>
    </div>
  </section>
  </body>
</html>